---
layout: base
---
<div class="site-wrap">
    <div class="gallerypanel">
        <header>
            <h1>Photos</h1>
        </header>
        {% for image in site.static_files %} {% if image.path contains 'assets/gallery' %}
        <img id="myImg{{image.path}}" src="/assets/default.gif" class="lazy" data-src="{{ site.baseurl }}{{ image.path }}" alt="" />

        <div id="myModal" class="modal">

            <!-- The Close Button -->
            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
            <script>
                // Get the modal
                var modal = document.getElementById('myModal');

                // Get the image and insert it inside the modal - use its "alt" text as a caption
                var img = document.getElementById('myImg{{image.path}}');
                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");
                img.onclick = function() {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    modalImg.style.width = "100%";
                    captionText.innerHTML = this.alt;
                }

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                    modal.style.display = "none";
                }
            </script>

        </div>
        {% endif %} {% endfor %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>
            /* lazyload.js (c) Lorenzo Giuliani
             * MIT License (http://www.opensource.org/licenses/mit-license.html)
             *
             * expects a list of:
             * `<img src="blank.gif" data-src="my_image.png" width="600" height="400" class="lazy">`
             */
            $(function() {
                var $q = function(q, res) {
                        if (document.querySelectorAll) {
                            res = document.querySelectorAll(q);
                        } else {
                            var d = document,
                                a = d.styleSheets[0] || d.createStyleSheet();
                            a.addRule(q, 'f:b');
                            for (var l = d.all, b = 0, c = [], f = l.length; b < f; b++)
                                l[b].currentStyle.f && c.push(l[b]);

                            a.removeRule(0);
                            res = c;
                        }
                        return res;
                    },
                    addEventListener = function(evt, fn) {
                        window.addEventListener ?
                            this.addEventListener(evt, fn, false) :
                            (window.attachEvent) ?
                            this.attachEvent('on' + evt, fn) :
                            this['on' + evt] = fn;
                    },
                    _has = function(obj, key) {
                        return Object.prototype.hasOwnProperty.call(obj, key);
                    };

                function loadImage(el, fn) {
                    const currSrc = el.getAttribute('src');
                    if (currSrc !== "/assets/default.gif") {
                        return;
                    }
                    var img = new Image(),
                        src = el.getAttribute('data-src');
                    img.onload = function() {
                        if (!!el.parent)
                            el.parent.replaceChild(img, el)
                        else
                            el.src = src;

                        fn ? fn() : null;
                    }
                    img.src = src;
                }

                function elementInViewport(el) {
                    var rect = el.getBoundingClientRect()

                    return (
                        rect.top >= 0 &&
                        rect.left >= 0 &&
                        rect.top <= (window.innerHeight || document.documentElement.clientHeight)
                    )
                }

                var images = new Array(),
                    query = $q('img.lazy'),
                    processScroll = function() {
                        for (var i = 0; i < images.length; i++) {
                            if (elementInViewport(images[i])) {
                                loadImage(images[i], function() {
                                    images.splice(i, i);
                                });
                            }
                        };
                    };
                // Array.prototype.slice.call is not callable under our lovely IE8
                for (var i = 0; i < query.length; i++) {
                    images.push(query[i]);
                };

                processScroll();
                addEventListener('scroll', processScroll);

            });
        </script>

        {% include footer.html %}
    </div>

</div>
