body {
    margin: 0;
    font-family: 'Arial', 'Helvetica';
    text-align: center;
}

.mainimage {
    background: url("/assets/rings.jpg") center no-repeat;
    width:100%;
    height:100vh;
    background-size:cover;
    position:relative;
}


.maintitle {
    height:180px;
    top:80%;
    position:absolute;
    width:100%;
    color: #ccc;
    right: 1%;
}

.venue {
    float:left;
    width:50%;
}

footer {
    margin-top:100px;
    color: #999;
}

@media screen and (max-width: 900px) {
    .venue {
        float: none;
        width:100%;
    }
}
