body {
    margin: 0;
    font-family: 'Arial', 'Helvetica';
    text-align: center;
    height: 100%;
}

html {
    height: 100%;
}

.navigation {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    font-family: 'Patua One';
    font-style: normal;
    color: #222;
}


/* Navigation Menu - List items */

.nav-item {
    /* non-critical appearance styles */
    width: 200px;
    color: #222;
}

.nav-item a, a:link, a:active {
    /* non-critical appearance styles */
    display: block;
    padding: 1em;
    color: #222;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
}

.nav-item a:visited {
    color: #222;
}

.nav-item a:hover {
    color: #c74438;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(135deg, rgb(254, 255, 255) 0%, rgb(221, 241, 249) 35%, rgb(160, 216, 239) 100%);
    background-size: 200%;
}

.nav-trigger {
    position: fixed;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' stroke='white'/><rect y='24' width='30' height='6' stroke='white'/><rect y='12' width='30' height='6' stroke='white'/></svg>");
    background-size: contain;
}

.nav-trigger:checked+label {
    left: 215px;
}

.nav-trigger:checked~.site-wrap {
    left: 200px;
}

.nav-trigger+label, .site-wrap {
    transition: left 0.2s;
}

.parallax {
    /* The image used */
    background-image: url("/assets/colourful-cover.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maintitle {
    width: 100%;
    color: #222;
    height: 100vh;
    background-size: cover;
    position: relative;
    top: 25vh;
}

.rvlogo {
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: normal;
}

.acelogo {
    font-family: 'Arial Narrow', 'Arial';
    font-style: normal;
    font-weight: bold;
}

.andlogo {
    font-family: 'Patua One';
    font-style: normal;
}

.maintitledate {
    font-family: 'Patua One', cursive;
}

.venue {
    float: left;
    width: 50%;
    display: inline-block;
    margin: auto;
    /*hack*/
    /*background-color: #fff;*/
}

.venue a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.venue a:hover, a:active {
    background-color: red;
}

.venuecollection {
    display: block;
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

.schedulepanel {
    background-color: white;
}

.accommodationpanel {
    background-color: white;
}

.accommodation {
    float: left;
    width: 50%;
    display: inline-block;
    margin: auto;
    /*hack*/
    background-color: #fff;
}

.accommodation a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.accommodation a:hover, a:active {
    background-color: red;
}

.accommodation img {
    width: 80%;
}

.accommodationcollection {
    display: block;
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

h3 {
    font-family: 'Patua One', cursive;
}

.rsvppanel {
    background-color: #101d2a;
    color: #aaa;
}

.rsvppanel h3 {
    color: #ddd;
}

.rsvppanel h2 {
    color: #ddd;
}

.venuepanel {
    background-color: #101d2a;
    color: #aaa;
}

.venuepanel h3 {
    color: #ddd;
}

.venuepanel h2 {
    color: #ddd;
}

.giftpanel {
    background-color: #101d2a;
    color: #aaa;
}

.giftpanel h3 {
    color: #ddd;
}

.giftpanel h2 {
    color: #ddd;
}

h2 {
    font-family: 'Patua One', cursive;
    padding-top: 15;
    padding-bottom: 15;
    width: 100%;
    margin: 0 auto;
}

footer {
    padding-top: 50px;
    color: #888;
    background-color: #999;
}

p {
    width: 75%;
    margin: 0 auto;
    padding: 25;
}

@media screen and (max-width: 900px) {
    .venue {
        float: none;
        width: 100%;
    }
    .accommodation {
        float: none;
        width: 100%;
    }
}

@@media screen and (max-width: 400px) {
    iframe {
        width: 100%;
    }
}
