<html>

<head>
    <title>Celebrate with Dom &amp; Krish</title>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <ul class="navigation">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/about">About Us</a></li>
        <li class="nav-item"><a href="/#RSVP">RSVP</a></li>
    </ul>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>

    {{ content }}

</body>

</html>
